@use "variables" as *;

:root {
  background-color: $gray-90;
  color: $text-color;
  font-family: $font-stack-serif;
  font-size: 16px;
  line-height: $line-height;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  font-size: 1rem;
  color: $gray-5;
}

main {
  padding: 0 $space-8;
  max-width: $max-width;
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p,
li {
  font-size: $space-7;
  font-weight: 200;
  line-height: 1.75;
}

a {
  color: $yellow-50;
}

.rule {
  background-color: $gray-80;
  width: 100%;
  height: 1px;
}

::selection {
  color: $gray-0;
  background: $yellow-90;
}

// Home styles
.home {
  display: flex;
  flex-direction: column;
  gap: $space-8;
  padding-top: $space-10;
  padding-bottom: $space-10;
  color: $gray-10;

  h1 {
    font-size: $space-7;
    font-weight: 200;
    margin-bottom: $space-4;

    span {
      filter: saturate(0.5);
      padding-left: $space-3;
      color: $pink-60;
    }
  }

  ul {
    padding-left: $space-10;
    display: flex;
    flex-direction: column;
    gap: $space-6;
    margin-top: -$space-6;
  }

  li {
    list-style: disc;
    padding-left: $space-4;
  }
}

// CV styles
.cv-container {
  display: flex;
  flex-direction: column;
  gap: $space-8;
  padding-top: $space-10;
  padding-bottom: $space-10;

  @media (max-width: 950px) {
    gap: $space-10;
  }

  h2 {
    @extend .ibm-plex-mono-regular;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $yellow-60;
    margin-bottom: -$space-4;
  }
}

.cv-component {
  display: flex;
  flex-direction: column;
  gap: $space-5;
}

.cv-info {
  position: sticky;
  top: 0;
  background-color: $gray-90;
  padding: $space-9 0 $space-4;
  display: flex;
  flex-direction: column;
  gap: $space-2;
  @extend .ibm-plex-mono-regular;
  color: $gray-50;
  &::after {
    content: "";
    width: 100%;
    height: $space-9;
    background: linear-gradient(to bottom, $gray-90, transparent);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
  }

  @media (max-width: 950px) {
    padding-top: $space-4;
  }

  .cv-title {
    color: $gray-10;
  }
}
